
.img-custom{
    width: 300px;
    height: 150px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    
}
.center{
    text-align: center;
    
}
.btn:hover{
    
    color: black;
}
.btn{
    color:black;
    margin-bottom: 30px;
    
    
}
.timer-otp{
    color: black;
}










